.paperCardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 40px;
}

@media only screen and (max-width: 1000px) {
  .postCardList {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
